# Core data & ML
pandas==2.2.3
torch==2.7.0
torchvision==0.22.0
transformers==4.52.3
datasets==3.6.0
sentence-transformers==4.1.0
keybert==0.9.0
tokenizers==0.21.0
sacremoses==0.1.1

# DB & API clients
SQLAlchemy==2.0.38
supabase==2.15.1

# Web framework
fastapi==0.95.2
uvicorn[standard]==0.23.1

# Env var management
python-dotenv==1.0.0

# Utilities
matplotlib==3.10.0
seaborn==0.13.2
tqdm==4.62.3
